{% extends "base.html" %}

{% block title%}
  
  Login Page

{% endblock %}

{% block content_title%}
  
  Login Page

{% endblock %}

{% block content%}

<br>
<br>
<br>
<br>
<br>
<br>

    <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2></h2>
          <p>Login</p>    
        </header>

        <div class="row">

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{{url_for('static',filename='assets/img/donor_reg.png')}}" class="img-fluid" alt="">
              <div class="text-center">
                <h3>Donor Login</h3>
                <a class="btn btn-primary" href="{{ url_for('user_login_page') }}">Login</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{{url_for('static',filename='assets/img/bloodbank_reg.png')}}" class="img-fluid" alt="">
              <div class="text-center">
                <h3>Blood Bank Login</h3>
                <a class="btn btn-primary" href="{{ url_for('bank_login_page') }}">Login</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="{{url_for('static',filename='assets/img/doctor_reg.png')}}" class="img-fluid" alt="">
              <div class="text-center">
              
                <h3>Doctor Login</h3>
                <a class="btn btn-primary" href="{{ url_for('doctor_login_page') }}">Login</a>
              </div>
            
            </div>
          </div>

        </div>

    </div>


{% endblock %}