{% extends "bank_base.html" %}

{% block title%}
  
  Login Page

{% endblock %}

{% block content_title%}

  
  <br>
  <br>
  <br>
    <!-- {{q}} -->
  <br>
  <br>
  <br>
  
  

{% endblock %}

{% block content%}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


<div class="row" style="margin-top:20px; margin-left:20px">
 
   <div class="col-8">
       <h2>{{y.name}}</h2>
       <p>{{y.address}}</p>
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
                <th scope="col">A+ve</th>
               <th scope="col">B+ve</th>
               <th scope="col">AB+ve</th>
               <th scope="col">O+ve</th>
               <th scope="col">A-ve</th>
               <th scope="col">B-ve</th>
               <th scope="col">AB-ve</th>
               <th scope="col">O-ve</th>
            </tr>
         </thead>
         <tbody>
            
            
            <tr>
               <td>{{b.A_positive  }} Unit</td>
               <td>{{ b.B_positive }} Unit</td>
               <td>{{ b.AB_positive }} Unit</td>
               <td>{{ b.O_positive }} Unit</td>
               <td>{{ b.A_negative }} Unit</td>
               <td>{{ b.B_negative }} Unit</td>
               <td>{{ b.AB_negative }} Unit</td>
               <td>{{ b.O_negative }} Unit</td>


            </tr>


         </tbody>
      </table>
      <br>
      <br>

      <div class="container">
          <form method="POST" class="form-register" style="color:black">
            {{form.hidden_tag()}}  <!-- protect from hackers -->
            
              <h1 class="h3 mb-3 font-weight-normal">
                  Change Form
              </h1>
              <br>


              {{ form.blood_grp.label()}}
              {{ form.blood_grp(class="form-control", placeholder="Blood Group")}}


              {{ form.do.label()}}
              {{ form.do(class="form-control", placeholder="Add/Subtract")}}

              {{ form.amount.label()}}
              {{ form.amount(class="form-control", placeholder="amount")}}


              {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </form>
        </div>
    </div>
        
  </div>
</div>

      
 
   </div>

</div>

{% endblock %}