{% extends "base.html" %}

{% block title%}
  
  Registration Page

{% endblock %}

{% block content_title%}
  
  Registration Page

{% endblock %}

{% block content%}

<br>
<br>
<br>
<br>
<br>
<br>

    <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2></h2>
          <p>Registration</p>    
        </header>

        <div class="row">

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{{url_for('static',filename='assets/img/donor_reg.png')}}" class="img-fluid" alt="">
              <div class="text-center">
              	<h3>Donor Registration</h3>
              	<a class="btn btn-primary" href="{{ url_for('register_user_page') }}">Register</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{{url_for('static',filename='assets/img/bloodbank_reg.png')}}" class="img-fluid" alt="">
              <div class="text-center">
              	<h3>Blood Bank Registration</h3>
              	<a class="btn btn-primary" href="{{ url_for('register_bank_page') }}">Register</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="{{url_for('static',filename='assets/img/doctor_reg.png')}}" class="img-fluid" alt="">
              <div class="text-center">
              
              	<h3>Doctor Registration</h3>
              	<a class="btn btn-primary" href="{{ url_for('register_doctor_page') }}">Register</a>
              </div>
            
            </div>
          </div>

        </div>

    </div>


{% endblock %}